[Unit]
Description=Harvest Project Server
Requires=mysqld.service
After=mysqld.service

[Service]
Type=simple
User=harvest
ExecStart=/opt/harvest/server.py
Restart=always

[Install]
WantedBy=multi-user.target
