[datastore]
host: localhost
port: 3306
username: harvest
password: harvest
database: harvest

[server]
port: 443
certfile: /opt/harvest/etc/harvest.crt
keyfile: /opt/harvest/etc/harvest.key
api_key: harvest
instances: 0
no_keep_alive: False
