-----BEGIN CERTIFICATE-----
MIIBzTCCAXegAwIBAgIJAJh9TFPqt7EhMA0GCSqGSIb3DQEBBQUAMEIxCzAJBgNV
BAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAaBgNVBAoME0RlZmF1bHQg
Q29tcGFueSBMdGQwHhcNMTMwOTIxMTUxMTQ1WhcNMTQwOTIxMTUxMTQ1WjBCMQsw
CQYDVQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZh
dWx0IENvbXBhbnkgTHRkMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKo9LA3Ponwx
c/pPsiLQQtrNpKsJn8imfDZJndJesFXe6TCFKJa2F78oG4JpSvizDTGImc2GDllM
BnFILxpGDksCAwEAAaNQME4wHQYDVR0OBBYEFOUQVOxLxN2PYtUfRUgOxQx6ugiX
MB8GA1UdIwQYMBaAFOUQVOxLxN2PYtUfRUgOxQx6ugiXMAwGA1UdEwQFMAMBAf8w
DQYJKoZIhvcNAQEFBQADQQBPPszY0ILDANyRGFAOAOCUY8lh2wgxWS87dFMhJpOu
5OXYCZBkLoIDNieAGvG/NlR+U4gsWLtfk1ksikAUe2fp
-----END CERTIFICATE-----
